* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Begin header */
header {
  background-color: #525252;
  padding: 25px 0;
}
header h1 {
  font-size: 40px;
  text-align: center;
  color: white;
}

/* Begin navigation */

#navigate {
  top: 0;
  z-index: 1;
}
.menu {
  background-color: #838383;
}
.menu li {
  display: inline-block;
  position: relative;
}
.menu li > a {
  display: block;
  color: white;
  padding: 10px;
}
.dropdown {
  display: none;
  position: absolute;
  width: auto;
  max-width: 150px;
  top: 100%;
  background-color: #f9f9f9;
}
.dropdown li {
  display: block;
}
.dropdown li a {
  color: #4a7aac;
}

.menu li:hover {
  background-color: #262626;
}
.menu li:hover .dropdown {
  display: block;
}

/* Begin image slider section */
.image-section {
  overflow: hidden;
  margin: 4px;
  border: 2px solid #4a85b9;
}

.image-article {
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}

.image-div {
  width: 100%;
}

.image-ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Begin Products section */
.product-wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-top: 30px;
}
.product-container {
  display: flex;
  
}
.product-card {
  background-color: rgb(243, 243, 253);
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 12px;
  margin: 16px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.product-heading {
  margin-left: 16px;
}

.product-title {
  margin-bottom: 10px;
}

.product-price {
  color: rgb(81, 151, 235);
}

.product-button {
  color: rgb(247, 183, 63);
  background-color: rgb(230, 230, 250);
  border: 1px solid rgb(89, 89, 254);
  border-radius: 4px;
  font-size: large;
  padding: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.product-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Begin footer section */
footer {
  position: relative;
  padding: 12px 0;
  background-color: black;
  color: white;
  text-align: center;
}



/* form styles */
.form-container {
  display: flex;
  margin: 44px 44px 0 44px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.form {
  padding: 24px;
}

.form h3 {
  margin: 15px 0;
}

.form-field {
  display: flex;
  gap: 44px;
  margin-bottom: 24px;
}

@media screen and (max-width: 800px) {
  .form-image {
    display: none;
  }
}

.form-image {
  margin-left: auto;
}

.buttons-section > button {
  background-color: #af66f3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px;
}

.buttons-section {
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
